@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");
@import url(//db.onlinewebfonts.com/c/6a11498dc9e53f4ea8a426b833ce33ee?family=Coco+Gothic);
@font-face {font-family: "Coco Gothic"; src: url("//db.onlinewebfonts.com/t/6a11498dc9e53f4ea8a426b833ce33ee.eot"); src: url("//db.onlinewebfonts.com/t/6a11498dc9e53f4ea8a426b833ce33ee.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6a11498dc9e53f4ea8a426b833ce33ee.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6a11498dc9e53f4ea8a426b833ce33ee.woff") format("woff"), url("//db.onlinewebfonts.com/t/6a11498dc9e53f4ea8a426b833ce33ee.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6a11498dc9e53f4ea8a426b833ce33ee.svg#Coco Gothic") format("svg"); }

body {
  background: #ddeefc;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
